@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Registro de Notas</h1>
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-slide">
                <img src="~/images/imagen1.jpg" style="width:300px;" alt="Imagen 1" />
            </div>
            <div class="carousel-slide">
                <img src="~/images/imagen2.jpg" style="width:300px;" alt="Imagen 2" />
            </div>
            <div class="carousel-slide">
                <img src="~/images/imagen3.jpg" style="width:300px;" alt="Imagen 3" />
            </div>
        </div>

        <h1> </h1>
        <button class="btn btn-primary" onclick="prevSlide()">Anterior</button>
        <button class="btn btn-primary" onclick="nextSlide()">Siguiente</button>
    </div>

    @section Scripts {
        <script src="~/js/carousel.js"></script>
    }
    <p>
        Bienvenido a nuestra plataforma de registro de notas, la herramienta perfecta para mantener un registro claro y organizado
        de tus calificaciones académicas. En esta página, podrás ingresar las notas de tus dos parciales, cada uno con un valor máximo
        de 35 puntos, así como la calificación de tu examen final, que tiene un valor de 30 puntos.
    </p>
    <div class="text-center">
        <h2 class="display-4">MAS SOBRE NOSOTROS</h2>
        <p>El Brearley School, conocido comúnmente como "Brearley", es una prestigiosa escuela privada para niñas ubicada en Manhattan, Nueva York. A continuación, te proporciono una descripción general de esta institución educativa:</p>
        <h1 class="display-4">Agregar Notas</h1>
        <a href="Datos" class="btn btn-primary">Ir a Datos</a>

        <header>
            <h1>Brearley School</h1>
        </header>



        <section id="location">
            <h2>Ubicación</h2>
            <p>El Brearley School se encuentra en el Upper East Side de Manhattan, una zona conocida por su riqueza cultural y su proximidad a museos, parques y otras instituciones educativas de renombre.</p>
        </section>



        <section id="history">
            <h2>Historia</h2>
            <p>La escuela fue fundada en 1884 por Samuel A. Brearley y James G. Croswell. Desde entonces, ha mantenido una sólida reputación como una de las principales escuelas privadas de Nueva York.</p>
        </section>



        <section id="nature">
            <h2>Naturaleza de la Institución</h2>
            <p>Brearley es una escuela privada exclusivamente para niñas, lo que significa que ofrece una educación centrada en las necesidades y el desarrollo de las estudiantes femeninas.</p>
        </section>



        <section id="education">
            <h2>Enfoque Educativo</h2>
            <p>Brearley School es conocido por ofrecer una educación académica rigurosa y de alta calidad. Se esfuerza por fomentar la excelencia académica, el pensamiento crítico y la creatividad entre sus estudiantes. Además de su enfoque académico, la escuela también valora la ética, la responsabilidad social y el compromiso cívico.</p>
        </section>

        h1 class="display-4">Integrantes</h1>
        <p>Eikar Ademar Quispe Apaza</p>
        <p>Cindy Torrez Lopez</p>
        <p>Santiago Guerrero</p>
        <!-- Agregar un botón para redirigir a Datos.cshtml -->

    </div>
