@page
@model WebApplication1.Pages.ResumenModel
@{
    ViewData["Title"] = "Resumen";
}

<h1>Resumen</h1>

<div>
    <p><strong>Puntaje:</strong> 0-50 - Reprobado</p>
    <p><strong>Puntaje:</strong> 51-65 - Aprobado</p>
    <p><strong>Puntaje:</strong> 66-75 - Bien</p>
    <p><strong>Puntaje:</strong> 76-85 - Muy Bien</p>
    <p><strong>Puntaje:</strong> 86-100 - Excelente</p>
</div>
<a href="Calculos" class="btn btn-primary">Volver</a>
<a href="Datos" class="btn btn-primary">Ir a ingresar datos</a>


